<div class="row container">
    <div class="id">
        <input type="checkbox" [checked]="item.completed" (change)="onToggle(item)" />
        {{item.id}}
    </div>
    <div class="title">
        {{item.title | uppercase}}
    </div>
    <div class="price">
        {{item.price | currency}}
    </div>
    <div class="quantity">
        {{item.quantity}}
    </div>
    <div class="completed">
        {{item.completed}}
    </div>
    <div class="total">
        {{(item.price*item.quantity | currency)}}
    </div>
    <div class="actions">
        <button class="btn-d" (click)="onDelete(item)">Delete</button>
    </div>
</div>
