.row {
    display: flex;
    box-sizing: border-box;
}

.row:hover {
    border-radius: 3px;
    background: #eee;
}

div {
    padding: 5px 0;
}

.id {
    display: flex;
    width: 20%;
    color: brown;
    padding: 0 5px;
}

.title {
    width: 20%;
    color: seagreen;
    padding: 0 5px;
}

.price {
    width: 10%;
    color: red;
    padding: 0 5px;
}

.quantity {
    width: 10%;
    color: green;
    padding: 0 5px;
}

.completed {
    width: 10%;
    color: blue;
    padding: 0 5px;
}

.total {
    width: 10%;
    font-weight: bolder;
    padding: 0 5px;
    color: red;
}

.actions {
    width: 10%;
    text-align: center;
    box-sizing: border-box;
    padding: 0 5px;
}

.btn-d {
    border: none;
    font-size: 12px;
    background-color: red;
    color: white;
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
}

.btn-d:hover {
    background-color: darkred;
}