form {
    margin: 0 auto;
    width: 300px;
    display: block;
}

form div {
    padding: 5px 0;
}

form label {
    text-align: center;
    display: block;
    padding: 5px;
    width: 100%;
}

form input {
    display: block;
    padding: 5px;
    width: 100%;
}

.btn-a {
    border: none;
    font-size: 12px;
    background-color: blue;
    color: white;
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
}

.btn-a:hover {
    background-color: darkblue;
}